@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Para comenzar, escribe "/Employees/Index" al final de la barra de busqueda.</p>
</div>
